// Item List

.item-list {
  background-color: $white;
  border: 1px solid $gray;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space $large-space;
}


// Item

.item {
  cursor: pointer;
  padding: $space;
  border-left: $item-border-width solid transparent;
  transition: background-color .3s ease, border-left .3s ease;

  &:hover {
    background-color: $light-gray;
    border-left: $item-border-width solid $gray;
  }
}

.item--selected, .item--selected:hover {
  background-color: lighten($green, 55%);
  border-left: $item-border-width solid $green;
}

.item__title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
}

.item--selected .item__title {
  font-weight: bold;
}

.item__subtitle {
  color: $dark-gray;
  margin: 0;
}

// Empty Item
.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}